body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #f0f0f0;
    font-size: 16px;
    padding: 0;
    margin: 0;
    line-height: 1.5;


    /**grid */
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: 0.1fr 0.1fr 1fr 0.2fr;
}

.container{ 
    margin: auto;
    width: 90%;
}

/** Header*/
header {
    grid-column: 1/4;
    background: #746E59;
    color: #F8F0C6;
    padding-top: 15px;
    padding-bottom: 10px;
    border-bottom: #828D6B 4px solid;
}

header a{
    color: #F8F0C6;
    text-decoration: none;
    font-size: 19px;
}

header ul{
    margin: 0;
    padding: 0;
}

header li{
    padding-left:30px;
    display: inline;
    align-self: center;
}

header #branding h1{
    margin: auto;
    font-size: 32px;
}

header nav .container{
    /**flexbox */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}


header .current a{
    font-weight: bold;
}

header a:hover{
    color: #828D6B;
}

/**page header */
#title{
    grid-column: 1/4;
    text-align: center;
    margin: auto;
}

/**articles */
#section-1, #section-2, #section-3{
    text-align: center;
    padding: 1em 1em 1em;
    line-height: 1.5;
}

#section-1 img, #section-2 img, #section-3 img{
    display: block;
    width: 100%;
    height: auto;
}

#section-1 ul, #section-2 ul, #section-3 ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

#section-1 li, #section-2 li, #section-3 li{
    margin-bottom: 1em;
    background: #f4f4f4;
    border: #746E59 solid 1px;
}

#section-1 .card-content, #section-2 .card-content, #section-3 .card-content{
    padding: 0 1em 0 1em;
    background: #f4f4f4;
}

#section-1 a, #section-2 a, #section-3 a, #section-1 a:visited, #section-2 a:visited, #section-3 a:visited{
    text-decoration: none;
    color: #333;
}

#section-1 a:hover, #section-2 a:hover, #section-3 a:hover{
    text-decoration: underline;
}

/**Footer */
footer{
    grid-column: 1/4;
    background: #746E59;
    color: #F8F0C6;
    border-top: #828D6B 4px solid;
    padding: 0px;
    margin: 0;
    text-align: center;
}

footer .container{
    /**flexbox */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

footer a{
    color: #F8F0C6;
    text-decoration: none;
    font-size: 15px;
}

footer li{
    display: inline;
    padding: 0 30px 0 30px;
    align-self: center;
}

/**Media Queries */
@media(max-width:768px) {
    body{
        grid-template-rows: 0.1fr 70px 1fr 0.2fr;
    }

    header #branding, header nav, header nav li{
        float: none;
        text-align: center;
        width: 100%;
        margin: 0;
    }

    #section-1, #section-2, #section-3{
        grid-column: 1/4;
    }
}