body{
    font-family: Georgia, 'Times New Roman', Times, serif; /**maybe change font, add font size */
    background-color: #f0f0f0;
    font-size: 16px;
    /* line-height: 1.5px; */
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns:4fr 1fr 1fr;/**two rows, last is quarter of the size */
    grid-template-rows: 69px 1.5fr 250px 54px; /**four rows*/
}

.container{ 
    margin: auto;
    width: 90%;
}

/** Header*/
header {
    grid-column: 1/4;
    background: #746E59;
    color: #F8F0C6;
    padding-top: 15px;
    height: 50px;
    border-bottom: #828D6B 4px solid;
    padding-bottom: 0;
}

header a{
    color: #F8F0C6;
    text-decoration: none; /** removes the underline */
    /**could make it upper case? */
    font-size: 19px;
}

header ul{
    margin: 0;
    padding: 0%;
}

header li{
    display: inline; /**will not start on a new line */
    padding: 0 30px 0 30px; /**top right bottom left */
}

header #branding{
    float: left;
}

header #branding h1{
    margin: 0;
}

header nav{
    float: right;
    margin-top: 28px;
}

header .current a{
    font-weight: bold;
}

header a:hover{
    color: #828D6B;
}


/**showcase */
#showcase{
    grid-column: 1/4;
    grid-row: 2/3;

    min-height: 450px;
    background:url('../img/market1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

/**blog */
#blog{
    grid-column: 1/3;
    padding-left: 20px;
    height: 200px;
}


/**updates */
#updates{
    color: #F8F0C6;
    background: #746E59;
    text-align: center;
    height: 200px;
}

#updates h1{
    font-size: 28px;
}

#updates .btn{
    text-decoration: none;
    font-size: 15px;
    margin: auto;
    background: #F8F0C6;
    color: #746E59;
    padding: 8px;
}

/**Footer */
footer{
    grid-column: 1/4;
    background: #746E59;
    color: #F8F0C6;
    height: 54px;
    border-top: #828D6B 4px solid;
    padding: 0px;
    margin: 0;
    text-align: center;
}

footer a{
    color: #F8F0C6;
    text-decoration: none;
    font-size: 15px;
}

footer ul{
    margin: 0; 
    padding: 0%; 
    /* list-style-type: circle; FIGURE OUT HOW TO BUT DOTS BETWEEN EACH LINK*/
}
 

footer li{
    display: inline;
    padding: 0 30px 0 30px; /**top right bottom left */
}


