body{
    font-family: Arial, Helvetica, sans-serif; /**maybe change font, add font size */
    background-color: #f4f4f4;
    font-size: 16px;
    /* line-height: 1.5px; */
    padding: 0;
    margin: 0;
}

.container{
    width: 80%;
    margin: auto; /** moves it to the middle*/
    overflow: hidden;
}

/** Header*/
header {
    background: #746E59;
    color: #F8F0C6;
    padding-top: 15px;
    min-height: 50px;
    border-bottom: #828D6B 4px solid;
    padding-bottom: 0;
}

/**Links */

header a{
    color: #F8F0C6;
    text-decoration: none; /** removes the underline */
    /**could make it upper case? */
    font-size: 19px;
}

header ul{
    margin: 0;
    padding: 0%;
}

header li{
    float: left;
    display: inline; /**will not start on a new line */
    padding: 0 30px 0 30px; /**top right bottom left */
}

header #branding{
    float: left;
}

header #branding h1{
    margin: 0;
}

header nav{
    float: right;
    margin-top: 28px;
}

header .current a{
    font-weight: bold;
}

header a:hover{
    /* background: #325453; */
    color: #828D6B;
    padding-bottom: 3px;
    /* font-weight: bold; */
}

/**showcase */
#showcase{
    min-height: 450px;
    background:url('../Project1/img/market1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

/**updates */
#updates{
    padding: 5px;
    color: #F8F0C6;
    background: #746E59;
    height: 70px;
}

#updates #text1{
    float: left;
}

#updates .btn{
    text-align: center;
    font-size: 20px;
    float: right;
    display: inline-block;
    text-decoration: none;
    background: #828D6B;
    color: #F8F0C6;
    padding: 0.5em 1em;
    border: 1px solid #F8F0C6;
    margin-top: 13px;
    width: 400px;
}

#updates .btn:hover{
    background-color: #F8F0C6;
    color: #828D6B;
}

/**Vendors Page */
#vendors{
    text-align: center;
    background: #f4f4f4;
    padding: 2em 1em 1em;
    background: #333;
}

#vendors img{
    display: block;
    width: 100%;
    height: auto;
}

#vendors ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

#vendors li{
    margin-bottom: 1em;
    background: #f4f4f4;
}

#vendors .card-content{
    padding: 1em    ;
}

/*media queries*/

@media(min-width:700px){ /**this is backwards... in the vid he started small and went big. do the opposite. wait maybe not */
    .grid{ /**might have to add more if i add more grid --- ON OTHER PAGES */
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    #vendors ul{
        grid-column: 2/4;
    }
}



